
:root{
color: ;
}
.hero{
  position: relative;

}
.hero img {
  display: block;
  width 100%;
  height: auto;
}

body { 
 
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    width: 800px;
}
nav a{
    color: rgb(5, 218, 246);
    padding: 5px;
    text-decoration: none;
}
h1{
    position: absolute;
    color: rgb(41, 119, 178);
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}
article {
  position: absolute;
  top: 8px;
  left auto;
}
header{
display: grid;

  grid-template-columns: 120px auto;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;}
  .img {
    float: right;
  }
  nav {
    padding-top: 20%;
  }