
nav { background-color: rgb(91, 35, 159);
padding: 10px;
}
body { 
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;

}
nav a{
    color: rgb(170, 246, 5)
    
}
h1{color: rgb(41, 119, 178);
    font-weight: 100;
}
.stacked-container{
    position: relative;
height: 500px;
}

.stacked
{ position: absolute;
left: 0px;
 top: 0px;   
}

p{padding: 10px;
    }


* 2a405a f9dec9 99b2dd 685044-- my colors for the page.