.callout {
	max-width: 500px;
	margin: 10px;
	border: 5px solid rgba(0,0,0,.1);
	padding: 15px;
	background-color: rgb(245, 4, 4);
	color: #efe8e8;
}

.callout img {
	float: right;
	margin: 0 0 10px 15px;
	border: 5px solid #000;
	padding: 3px;
	background-color: #12d7e9;
	width: 100px;
	height: auto;
	
}

blockquote {
	margin: 0;
}

cite {
	display: block;
	border-top: 1px dotted #ac2020;
	padding-top: 3px;
	text-align: right;
	font-size: smaller;
}
:root{
    --heading-background-color: rgb(184, 52, 140);
    --heading-text-color: #554e93;
    --haeding-front: 'montserray' helvetica, sans-serif;
    --padding: 1rem;
   
}



